<div class="wrapper">
  <mat-card class="main" *ngIf="!curUser.isLoggedIn">
    <mat-card-header class="header">
      <mat-card-title>
        <h3>Save Event Ride</h3>
      </mat-card-title>
    </mat-card-header>

    <mat-card-content class="login-wrap">

      <div class="account">
        <mat-form-field>
          <input matInput placeholder="User Name" [(ngModel)]="loginUser">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Password" [(ngModel)]="loginPassword">
        </mat-form-field>
      </div>

      <div class="actions but-wrap">
        <button class="clr-but" mat-raised-button color="warn" (click)="loginClick()">Clear</button>
        <button class="login-but" mat-raised-button color="primary" (click)="loginClick()">Login</button>
      </div>

    </mat-card-content>

  </mat-card>
</div>